
~table7.do.stswp
~table5.do.stswp
Data/new_data_cleaner5.csv
~data_cleaner.do.stswp
~fixedeffectsdemonstration.do.stswp
~main.do.stswp
.DS_Store
Data/adsprocessed_JPE.csv
Data/adsprocessed_JPE.csv
Data/HUDprocessed_JPE_census_042021.csv
Data/table10_2_mom.csv
Data/table10_mom.csv
Data/zipinfo-county.dta
Data/zipinfo.dta
fixedeffectsdemonstration.do
~table10.do.stswp
main_anthony.do
~table9.do.stswp
~table12.do.stswp
~main_anthony.do.stswp
Output/HUDreplication_log.txt
temp_data_table14.dta
temp_data_table9.dta
table_formatting.R

~table14.do.stswp
table11_control.aux
table11_control.fdb_latexmk
table11_control.fls
table11_control.log
table11_control.pdf
table11_control.synctex.gz
